body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e1e;

}
a {
    cursor: pointer;
}


.header__main {
    color: #000;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex; /*place content inside header*/
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.header__main__box {
    height: 100%;
    width: fit-content;
    padding-left: 10px;
    display: flex; /*place content inside content of box*/
}

.header__main__box img {
    width: 150px;
}

.header__main__nav {
    width: fit-content;
}

.header__main__nav ul {
    margin-left: 10px;
}

.header__main__nav ul li {
    display: inline;
    float: left; /*squeeze the list items together*/
}

.header__main__nav ul li a {
    padding: 0 10px;
    line-height: 60px;
    color: #000;
    display: block;
    height: 100%;
}

.header__main__nav ul li a:hover {
    color: blueviolet;
}

.header__main__git {
    padding-right: 10px;
    width: fit-content;
    display: flex;
}

.header__main__git:hover {
    color: blueviolet;
}